<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="generate_products" frontName="generate_products">
            <module name="Kogut_ProductsGeneration" />
        </route>
    </router>
</config>
